* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
body {
  background-color: #f6f6f6;
  overflow-x: hidden;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.col {
  max-width: 100%;
}

.container {
  width: 95%;
  margin: 0 auto;
  max-width: 1200px;
}
