* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.col {
  max-width: 100%;
}

.conteiner {
  width: 95%;
  margin: 0 auto;
  max-width: 1200px;
}
