@media (max-width: 1200px) {
  .card__image {
    width: 100%;
    object-fit: contain;
  }

  .imgNosotros {
    width: 100%;
    object-fit: contain;
  }
  .displayS,
  .imgS {
    width: 100%;
    object-fit: contain;
  }
  h1 {
    font-size: 30px;
  }

  .imgGalery {
    width: 100%;
  }
}

@media (min-width: 1201px) {
  h1 {
    font-size: 50px;
  }

  .imgGalery {
    height: 250px;
  }
}
